.content{
    width: 65.4vw;
    height: 62.5vh;
    background-color: #fff;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.content1{
    flex: 1;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #E6E5EB;
}
.content2{
    flex: 1.5;
    display: flex;
}