* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100vw !important;
  overflow-x: hidden;
}
/* 在电脑上的字体大小 */
h1 {
  font-size: 2.5vw; /* 相当于视口宽度的2.5% */
}

h2 {
  font-size: 2vw; /* 相当于视口宽度的2% */
}

p,
body {
  font-size: 1vw; /* 相当于视口宽度的1% */
}

/* 在平板上的字体大小 */
@media (max-width: 768px) {
  h1 {
    font-size: 3vw; /* 相当于视口宽度的3% */
  }

  h2 {
    font-size: 2.5vw; /* 相当于视口宽度的2.5% */
  }

  p,
  body {
    font-size: 1.5vw; /* 相当于视口宽度的1.5% */
  }
}

/* 在手机上的字体大小 */
@media (max-width: 480px) {
  h1 {
    font-size: 4vw; /* 相当于视口宽度的4% */
  }

  h2 {
    font-size: 3vw; /* 相当于视口宽度的3% */
  }

  p,
  body {
    font-size: 2vw; /* 相当于视口宽度的2% */
  }
}
