.footer {
  width: 100%;
  font-size: 16px !important;
  height: 15vw;
}
.foot-bar {
  height: 0.3906vw;
  background-color: #fa5d42;
}

.footer {
  background: url(/copyright.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 1.5625vw 0;
  color: white;
  /* text-align: center; */
}

.t-c {
  /* width: 80%; */
  /* height: 60%; */
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  left: 20%;
  /* justify-content: center; */
}
.foot-content {
  display: flex;
  flex-direction: column;
  align-items: start;
}
#imgConac {
  float: left;
}

.footer p {
  /* margin: 0.3906vw  0; */
  font-size: 0.7vw;
}
.dingyue {
  right: 5vw;
}
.fuwu {
  right: 12vw;
}
.dingyue,
.fuwu {
  position: relative;
  right: -10%;
  margin-right: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: absolute; */
  /* top: -0.7813vw; */
  /* width: 5.8594vw; */
  /* height: 5.8594vw; */
}
.dingyue .df-text,
.fuwu .df-text {
  font-size: 0.9375vw;
  display: block;
  margin-top: 0.3906vw;
}

footer a {
  color: #c8ffff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
.dingyue img,
.fuwu img {
  width: 5vw;
}
form {
  display: flex;
  flex-direction: row;
  justify-self: start;
}
