.myswiper {
  width: 100%;
  height: 50vw;
}
.swiper1 {
  width: 100%;
  height: 100%;
}
.swiper1 .swiperItem {
  background: linear-gradient(to bottom, #fff, #f2f6fa);
  height: 100%;
  width: 100%;
}
/* styles.css */
.bg {
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, #fff, #f2f6fa);
  display: flex;
  justify-content: center;
  align-items: center;
}
