.swiper {
  --swiper-navigation-size: 1.7vw;
  /* overflow: visible !important; */
}
.swiper2 {
  width: 77vw;
}
#swiper2 .swiper-button-prev,
#swiper2 .swiper-button-next {
  z-index: 0 !important;
  opacity: 0 !important;
}
#swiper2 .swiper-button-prev {
}

.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper2 .swiper-slide {
  /* border-radius: 5px; */
  /* box-shadow: 1 1 1 1 rgba(0, 0, 0, 0.5); */
  transition: 300ms;
  transform: scale(0.8);
}
.swiper2 .swiper-slide-active,
.swiper2 .swiper-slide-duplicate-active {
  transform: scale(0.9);
}
.swiper2container {
  width: 100%;
  position: relative;
}
#pre,
#next {
  background-color: rgba(0, 0, 0, 0.3) !important;
  color: rgba(255, 255, 255, 0.7) !important  ;
  width: 1.8vw !important;
  height: 11.5vw !important;
  border-radius: 0.35vw;
  top: 25%;
}
#pre::after,
#next::after {
  font-size: 1vw !important;
}
#pre {
  left: 5vw;
}

#next {
  right: 5vw;
}
.activeItem #top {
  background: linear-gradient(
    to right,
    rgb(160, 205, 255),
    rgb(63, 163, 254)
  ) !important;
  height: 8vw !important;
}
.activeItem {
}
.activeItem #img {
  opacity: 0;

  position: absolute;
}
.activeItem #base {
  /* transform: translateY(-1.5vw); */
}
.activeItem #name {
  transform: translateY(-1.5vw);
  color: rgba(255, 255, 255, 0.8);
}
.activeItem #addr {
  color: rgba(255, 255, 255, 0.7);
  transform: translateY(-0.8vw);
}
.activeItem #cut {
  opacity: 0;
  position: absolute;
}
.activeItem #cutr {
  opacity: 1;
  position: static !important;
}
.activeItem #tag {
}
#cutr {
  opacity: 0;
  position: absolute;
}
.activeItem #bigger {
  position: relative !important;

  opacity: 1;
  left: 20%;
  bottom: -10px;
}
